/*styles go here*/

/*p {
    color: red;
}*/
header h1 {
	order:2;
	fontsize:2em;
}
nav ul {
	display: none;
}
@media screen and (min-width: 700px){

nav ul{
	display: flex;
}
nav ul li{
	border-top: none;
}
	.menu-trigger{
		display: none;
	}
	header h1{
		order: 1;
	}
	nav {
		order: 2;
	}
}



p {
	color: #666666;
    font-family: 'Playfair Display', serif;
}

.italic{
	 font-weight: bold;
 }

h1 {
    font-family: 'Raleway', sans-serif;
}

body{
	background-color:#ebe3ce;
}
#container {
    width: 80%;
		border-color: #ffffff;

	}
	article {
	  margin-bottom: 0.7em;
	  border-bottom: 1px solid #ccc;
	}

	article:last-of-type {
	  border-bottom: none;
	}
/*#nav {
    padding: 0;
}*/

/*#nav li {
	list-style-type: none;
	float: left;
    margin: 0;
    padding: 0;
	  width: 33.25%
}*/

#nav a:link, #nav a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Playfair Display SC', serif;
}

#nav a:hover, #nav a:active {
    background-color: #7a991a;
}

/*Navigation styles*/
.navigation {
	list-style: none;
	margin: 0;
	background: gray;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}
/*Image width*/

img {
	width: 100%;

}
/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}
.title {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  flex-flow: column;
}
article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}


/*header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}
/*These styles activate when the page is larger than 800px wide*/
@media screen and (min-width: 450px) {

		nav ul {
				flex-flow: row;
				justify-content: space-between;
		}

}
@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .authorbox img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}
@media (min-width:800px) {
	.navigation {
			flex-flow: row wrap;
			justify-content: flex-end;
	}

	.navigation a {
			border: none;
	}

	.navigation a:hover {
		background: black;
	}

	article {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
	}
	.image {
			width: 100%;
			margin-right: 10px;
	}

	.story {
			width: 45%;
	}

	.first {
			margin-top: 0;
	}
}
@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "a c c";
  }
	.authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
		margin-top: 0;
  }

  .image {
		grid-area:c;
    width: 100%;
  }
}

/*@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}
    /*.navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: black;
    }

    aside {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    }
	}
		/*These styles apply to the floated image technique*/


             /*img {
                 width: 45%;
                 float: left;
                 margin-right: 10px;
             }

             .first {
                 margin-top: 0;
             }



     /*These styles apply to the Flexbox image technique */

     /*article {
         display: flex;
         flex-flow: row;
         flex-wrap: wrap;
     }

     /*This code is for the first image attempt -- the object-fit property*/
     /*img {
         width: 100%;
         object-fit: contain;
     }

     .image {
         width: 100%;
         margin-right: 10px;
     }

     .story {
         width: 45%;
     }

     .first {
         margin-top: 0;
     }






@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }
.authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }

.section1 {
    grid-area: a;
  }
	.section1 {
    margin-top: 0;
  }
}
@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}
